/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1470px;
}

.type__title {
  margin-bottom: 10px;
}

.lock {
  overflow: hidden;
}

.header {
  padding: 5px 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1880px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 25px;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact__text {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 7px 10px 7px 5px;
}

.header-contact__text .icon-chevron-right {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.header-contact__number {
  margin-right: 10px;
}

.header-sidebar__trigger {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 5px;
}

.nav__link .icon-map-marker-alt {
  margin-right: 10px;
}

.nav__link .icon-user-alt {
  margin-right: 10px;
}

.mobile-nav {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px 51px;
  margin-bottom: 20px;
  text-align: center;
}

.hero .site__title {
  margin-bottom: 40px;
}

.hero-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: flex-start;
}

.hero-sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 10px 0 0;
}

.hero-sidebar__button {
  display: none;
}

.hero-sidebar__more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  padding: 12px 24px;
  margin-top: 30px;
}

.type-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.type-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.type-container:not(:last-child) {
  padding-bottom: 30px;
}

.type-container:not(:first-child) {
  margin-top: 30px;
}

.type__item {
  margin: 10px 2px;
}

.type__item input[type="radio"] {
  display: none;
}

.type__item label {
  padding: 10px 16px;
  display: inline-block;
}

.type__item .blank-label {
  display: none;
}

.type-container {
  width: 100%;
}

.type-container-more {
  display: none;
}

.type-container-year {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type-container-year .type-container-select:not(:first-child) {
  margin: 0;
  margin-left: 10px;
}

.type-container-select {
  width: 100%;
  position: relative;
}

.type-container-select:not(:first-child) {
  margin-top: 30px;
}

.type-container-select select {
  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 12px;
  width: 100%;
  padding: 16px;
  display: inline-block;
}

.type-container-select label {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 3px 13px;
}

.hero-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 20px;
}

.hero-info__sort {
  display: flex;
  align-items: center;
}

.hero-info__sort span {
  margin-right: 10px;
}

.hero-info .type-container-select {
  margin: 0;
}

.hero-info .type-container-select select {
  padding: 7px 16px;
}

.hero-card {
  position: relative;
  max-width: 338px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin: 0 10px 10px;
}

.hero-card__image {
  max-width: 338px;
  max-height: 225px;
}

.hero-card__image img {
  width: 100%;
  height: 100%;
}

.hero-card__status {
  position: absolute;
  top: 15px;
  right: 0px;
  padding: 5px 10px;
}

.hero-card__info {
  position: absolute;
  top: 15px;
  left: 0px;
  max-width: 70%;
  padding: 5px 10px;
}

.hero-card__info .icon-info {
  margin-right: 5px;
}

.hero-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.hero-card-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 5;
}

.hero-card__title {
  margin-bottom: 5px;
}

.car__photo {
  width: 100%;
}

.car__fuel {
  margin-bottom: 5px;
}

.car__class {
  margin-bottom: 10px;
}

.car-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-spec-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.car-spec__title {
  position: relative;
  align-self: flex-start;
  padding-left: 20px;
}

.car-spec__title:not(:last-child) {
  margin-bottom: 10px;
}

.car-spec__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
}

.car-spec__count {
  align-self: flex-end;
}

.car-spec__count:not(:last-child) {
  margin-bottom: 10px;
}

.car-info {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.car-info::before,
.car-info::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
}

.car-info::before {
  top: 0;
}

.car-info::after {
  bottom: 0;
}

.car-info__line {
  margin-left: 1px;
}

.car-info__item {
  padding: 10px 0;
}

.car-advantages {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.car-advantages__item:not(:last-child) {
  margin-right: 15px;
}

.car-advantages__item:nth-child(9)::before {
  content: '...';
  display: block;
}

.car-advantages__item:nth-child(9) span {
  display: none;
}

.car-advantages__item:nth-child(9):hover .car-advantages__text {
  opacity: 0;
  visibility: hidden;
}

.car-advantages__item:nth-child(n+10) {
  display: none;
}

.car-advantages__item:hover .car-advantages__text {
  opacity: 1;
  visibility: visible;
}

.car-advantages__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  bottom: 42px;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  margin: 0 15px;
  opacity: 0;
  visibility: hidden;
}

.car-advantages__text span {
  margin-top: 5px;
}

.car-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}

.car-price__line {
  margin-left: 1px;
  height: 30px;
}

.car-price__item {
  display: flex;
  align-items: center;
}

.car-price__item .icon-info {
  margin-right: 5px;
}

.car-price__item .cost__month {
  margin-left: 5px;
}

.car-price__discount {
  display: flex;
  align-items: center;
}

.car-price__discount .icon-info {
  margin-right: 5px;
}

.car-price__discount .cost__month {
  margin-left: 5px;
}

.avantages {
  margin-top: 80px;
}

.avantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avantages-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.avantages-table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: stretch;
  margin: 30px 0;
}

.avantages-card {
  position: relative;
  max-width: 230px;
  padding: 30px;
  margin: 5px;
}

.avantages-card:hover .avantages__text {
  opacity: 1;
  visibility: visible;
}

.avantages-preview {
  display: flex;
  flex-direction: column;
}

.avantages-preview__text {
  margin-top: 20px;
}

.avantages__text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.footer {
  padding: 70px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer__logo {
  margin-right: 25px;
  grid-column-start: 1;
  grid-column-end: 6;
  margin-bottom: 30px;
  padding: 0 30px;
}

.footer-content {
  display: flex;
  align-items: stretch;
  grid-column-start: 1;
  grid-column-end: 5;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}

.footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-tab {
  position: relative;
}

.footer-tab-content {
  position: absolute;
  top: 47%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-tab-stars {
  margin-right: 20px;
}

.footer-tab-star {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1470px) {
  .footer-tab {
    grid-column-start: 1;
    grid-column-end: 6;
    margin-top: 30px;
    max-width: 250px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .footer-tab-content {
    bottom: -20%;
  }
}

@media screen and (max-width: 1440px) {
  .header-contact__text span {
    display: none;
  }

  .nav__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media screen and (max-width: 1340px) {
  .hero-card {
    max-width: 278px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-card {
    max-width: 338px;
  }

  .hero-card-table {
    grid-template-columns: repeat(2, 1fr);
  }

  .avantages-table {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .site__title {
    font-size: 70px;
  }

  .nav {
    display: none;
  }

  .mobile-nav {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .mobile-nav-sidebar__trigger {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    margin-bottom: 10px;
  }

  .mobile-nav-sidebar__trigger span {
    margin-right: 10px;
  }

  .mobile-nav-sidebar__trigger .icon-minus {
    display: none;
  }

  .mobile-nav-sidebar__trigger--active .icon-minus {
    display: block;
  }

  .mobile-nav-sidebar__trigger--active .icon-plus {
    display: none;
  }

  .mobile-nav-list {
    z-index: 100;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px 5px;
  }

  .mobile-nav__item {
    position: relative;
    margin: 0 5px;
  }

  .mobile-nav__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .mobile-nav__link span {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }

  .mobile-nav__link .icon-sportive {
    bottom: -60%;
  }

  .mobile-nav__link .icon-suv {
    bottom: -40%;
  }

  .mobile-nav__link .icon-revision {
    bottom: 5%;
  }


  .dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: visible;
    transform: translateY(150vh);
  }

  .dropdown--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown__close {
    position: relative;
    padding: 20px 40px;
  }

  .dropdown__close::before,
  .dropdown__close::after {
    content: '';
    position: absolute;
    top: 47%;
    left: 15px;
    width: 15px;
    height: 2px;
  }

  .dropdown__close::before {
    transform: rotate(45deg);
  }

  .dropdown__close::after {
    transform: rotate(-45deg);
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 15px;
  }

  .dropdown__item {
    width: 100%;
    padding: 20px 0;
  }

  .dropdown__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-text {
    padding: 50px 0 51px;
  }

  .hero-sidebar {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(150vh);
  }

  .hero-sidebar__button {
    display: block;
    margin-top: 30px;
    align-self: center;
    padding: 16px 24px;
  }

  .hero-sidebar__more {
    display: none;
  }

  .hero-sidebar-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px 30px 200px;
  }

  .hero-sidebar--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .hero-card {
    max-width: 95%;
  }

  .hero-card-table {
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
  }

  .hero-card__info {
    max-width: 50%;
  }

  .type-container-more {
    display: block;
  }

  .footer {
    padding: 70px 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .hero-card {
    width: 100%;
  }

  .hero-card__image {
    max-width: 700px;
    max-height: 450px;
    width: 100%;
  }

  .hero-card-table {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-list:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .mobile-nav-list {
    padding: 15px 20px 5px;
  }

  .mobile-nav-list {
    padding: 15px 10px 5px;
  }

  .avantages-table {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .avantages-table {
    grid-template-columns: repeat(1, 1fr);
  }
}